{% extends "../base.html"   %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
    <div class="card-header">
        <h2 class="text-center">Login</h2>
    </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            <!-- {{ form|crispy }} -->
            <fieldset class="form-group text-center">
                {{ form.username|as_crispy_field }}
            </fieldset>
            <fieldset class="form-group text-center">
                {{ form.password|as_crispy_field }}
            </fieldset>
            <button class="btn btn-success btn-block" type="submit">Login</button>
        </form>
    </div>
</div>

{% endblock content %}