{% extends "base.html" %}

{% block content %}

    <br><hr><br>
    <h1>{{ page_title }} disini</h1>
    <br><hr><br>
    
    <!-- {% include "produksi/info-produksi.html" %} -->
    <div class="text-right">
        <a href="/tambah"><button class="btn btn-warning">Tambah Barang</button></a>
    </div>
    <br><hr><br>
    <table class="table">
        <thead>
            <tr>
            <th scope="col">Nama Barang</th>
            <th scope="col">Nama Pembeli</th>
            <th scope="col">Jumlah</th>
            <th scope="col">Harga</th>
            <th scope="col">Waktu</th>
            </tr>
        </thead>
        <tbody>
            {% for barang in object_list %}
            <tr>
                <td>{{ barang.barang }}</td>
                <td>{{ barang.pembeli }}</td>
                <td>{{ barang.jumlah }}</td>
                <td>{{ barang.harga }}</td>
                <td>{{ barang.waktu }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


{% endblock %}