{% extends "base.html" %}

{% block content %}

<!-- <h1>{{ title }}</h1> -->
<br><br>

<div class="container">
    <a href="{% url 'produksi' %}"><h3>Lihat Semua Log Produksi</h3></a>
    <div class="row">
        {% for barang in list_barang %}
        <div class="col-md 4">
            <div class="card bg-info text-white">
                <div class="card-body">
                    <h3>{{ barang.barang }}</h3>
                </div>
                <div class="card-footer">
                    <p class="card-text">
                        {{ barang.waktu }}
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
        
    </div>

    <br><hr><br>

    <a href="{% url 'penjualan' %}"><h3>Lihat Semua Log Produksi</h3></a>
    <div class="row">
        {% for jual in list_jual %}
        <div class="col-md 4">
            <div class="card bg-info text-white">
                <div class="card-body">
                    <h3>{{ jual.pembeli }}</h3>
                </div>
                <div class="card-footer">
                    <p class="card-text">{{ jual.waktu }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</div>


{% endblock %}