{% extends "base.html" %}

{% block content %}

    <br><hr><br>
    <h1>{{ page_title }} disini</h1>
    <br><hr><br>
    
    {% include "produksi/info-produksi.html" %}
    <div class="text-right">
        <a href="/tambah"><button class="btn btn-warning">Tambah Barang</button></a>
    </div>
    <br><hr><br>
    <table class="table">
        <thead>
            <tr>
            <th scope="col">Nama Barang</th>
            <th scope="col">Jumlah Masuk</th>
            <th scope="col">Waktu Masuk</th>
            </tr>
        </thead>
        <tbody>
            {% for barang in log_barang %}
            <tr>
                <td>{{ barang.barang }}</td>
                <td>{{ barang.jumlah }}</td>
                <td>{{ barang.waktu }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


{% endblock %}